<a href="/rezepte/grundrezepte/" class="black-text">
<div class="card">
     <div class="card-image">
          <img src="img/Lebkuchen-Apfel-Torte_20151231_160725_web.jpg" />
          <span class="card-title">Weihnachtsbäckerei</span>
     </div><!--card image-->
     <div class="card-content">
          <h5 class="center">Weihnachtsbäckerei</h5>
          <p class="light">
                Um die Weihnachtszeit wird besonders viel gebacken, mit dem Schwerpunkt auf Kekse....
          </p>
     </div><!--card content-->
</div><!--card-->
</a>
