<a href="/rezepte/grundrezepte/" class="black-text">
<div class="card">
     <div class="card-image">
          <img src="img/05142577_web.jpg" />
          <span class="card-title">Grundrezepte</span>
     </div><!--card image-->
     <div class="card-content">
          <h5 class="center">Grundrezepte</h5>
          <p class="light">
                Es gibt einige Grundrezepte, auf die aufbauend man sehr leicht seine eigenen Torten oder Törtchen "zaubern" kann
          </p>
     </div><!--card content-->
</div><!--card-->
</a>
