{{ $baseurl := .Site.BaseURL }}
<!--------------- NAVIGATION ---------------------->
<div class="" id="nav">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{$baseurl}}" class="brand-logo">
            <img src="{{$baseurl}}img/mclogo2016head-dark.png" height="60px" />
        </a>
        <ul class="right hide-on-med-and-down">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
            	<li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                    <a href="{{.URL}}">{{.Name}}</a>
                </li>
        	    {{ if .HasChildren }} <!-- top -->
        	    <ul>
            	    {{ range .Children }} <!-- range (2) -->
                	    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                            <a href="{{.URL}}">{{ .Name }} </a>
                        </li>
            			{{ if .HasChildren }}    <!-- has children (2) -->
            		    <ul>
            		    {{ range .Children }} <!-- range (3) -->
                		    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                <a href="{{.URL}}">{{ .Name }}</a>
                            </li>
                			{{ if .HasChildren }}    <!-- has children (3) -->
                			<ul>
                			    {{ range .Children }}    <!-- range (4) -->
                    			    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                        <a href="{{.URL}}">{{ .Name }} </a>
                                    </li>
                    				{{ if .HasChildren }}    <!-- has children (4) -->
                    				<ul>
                    				    {{ range .Children }}    <!-- range (5) -->
                    				    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                            <a href="{{.URL}}">{{ .Name }} </a>
                                        </li>
                    				    {{ end }}    <!-- range (5) -->
                    				</ul>
                    				{{ end }}    <!-- has children (4) -->
                			    {{ end }}    <!-- range (4) -->
                		    </ul>
                		    {{ end }}    <!-- has children (3) -->
                		{{ end }}     <!-- range (3) -->
            		    </ul>
            	    	{{ end }} <!-- has children (2) -->
            	    {{ end }} <!-- range (2) -->
        	    </ul>
        	    {{ end }} <!-- has children top -->
            {{end}} <!-- range main -->
            <li> <a href="#" target="blank">Andere Seiten</a> </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
            	<li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                    <a href="{{.URL}}">{{.Name}}</a>
                </li>
        	    {{ if .HasChildren }} <!-- top -->
        	    <ul>
            	    {{ range .Children }} <!-- range (2) -->
                	    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                            <a href="{{.URL}}">{{ .Name }} </a>
                        </li>
            			{{ if .HasChildren }}    <!-- has children (2) -->
            		    <ul>
            		    {{ range .Children }} <!-- range (3) -->
                		    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                <a href="{{.URL}}">{{ .Name }}</a>
                            </li>
                			{{ if .HasChildren }}    <!-- has children (3) -->
                			<ul>
                			    {{ range .Children }}    <!-- range (4) -->
                    			    <li{{if $currentNode.HasMenuCurrent "main" . }} class="active"{{end}}{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                        <a href="{{.URL}}">{{ .Name }} </a>
                                    </li>
                    				{{ if .HasChildren }}    <!-- has children (4) -->
                    				<ul>
                    				    {{ range .Children }}    <!-- range (5) -->
                    				    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
                                            <a href="{{.URL}}">{{ .Name }} </a>
                                        </li>
                    				    {{ end }}    <!-- range (5) -->
                    				</ul>
                    				{{ end }}    <!-- has children (4) -->
                			    {{ end }}    <!-- range (4) -->
                		    </ul>
                		    {{ end }}    <!-- has children (3) -->
                		{{ end }}     <!-- range (3) -->
            		    </ul>
            	    	{{ end }} <!-- has children (2) -->
            	    {{ end }} <!-- range (2) -->
        	    </ul>
        	    {{ end }} <!-- has children top -->
            {{end}} <!-- range main -->
            <li><a href="#">Mobil...</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
