{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="container">
    <section id="main">
        <article id="content">
            <div class="row">
                <div class="col s12 m12 l8">
                    {{ .Content }}
                    <br />&nbsp;<br/>&nbsp;<br/>
                    <div id="date" style="font-size: 0.8em; Text-align:right;">
                        Stand: {{ .Date.Format "2. Jan 2006" }}
                    </div>
                </div>
                <div id="marginalnav" class="col s12 m12 l4 right">
                    <br />
                    <div class="card">
                        <div class="card-image">
                          {{ if isset .Params "navimage" }}
                          <img src="{{$baseurl}}/img/{{ printf "%s" $.Params.navimage }}">
                          <!--span class="card-title">Card Title</span-->
                          {{ end }}
                        </div>
                        <div class="card-action">
                            <a href="{{ $baseurl }}"><span class="black-text" style="font-size:small;">Home</span></a>
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.main }}
                                {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                    &gt;&nbsp;<a href="{{.URL}}"><span class="black-text" style="font-size:small;">{{.Name}}</span></a>&nbsp;
                                    {{ if .HasChildren }} <!-- top -->
                                        {{ range .Children }} <!-- children range (1) -->
                                            {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                                &gt;&nbsp;<a href="{{.URL}}"><span class="black-text" style="font-size:small;">{{.Name}}</span></a>&nbsp;
                                                {{ if .HasChildren }} <!-- top -->
                                                    {{ range .Children }} <!-- children range (2) -->
                                                        {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                                            &gt;&nbsp;<a href="{{.URL}}"><span class="black-text" style="font-size:small;">{{.Name}}</span></a>&nbsp;
                                                            {{ if .HasChildren }} <!-- top -->
                                                                {{ range .Children }} <!-- children range (3) -->
                                                                    {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                                                        &gt;&nbsp;<a href="{{.URL}}"><span class="black-text" style="font-size:small;">{{.Name}}</span></a>&nbsp;
                                                                    {{ end }}
                                                                {{ end }} <!-- children range (3) -->
                                                            {{ end }}
                                                        {{ end }}
                                                    {{ end }}<!-- children range (2) -->
                                                {{ end }}
                                            {{ end }}
                                        {{ end }} <!-- children range (1) -->
                                    {{ end }} <!-- has children -->
                                {{ end }} <!-- has menu current -->
                            {{ end }} <!-- range -->
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.main }}
                                {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                    {{if $currentNode.IsMenuCurrent "main" . }}
                                        {{ if .HasChildren }} <!-- top -->
                                            {{ partial "marginalnav.html" . }}
                                        {{ end }} <!-- has children top -->
                                    {{ end }} <!-- IsMenuCurrent -->
                                    {{if $currentNode.HasMenuCurrent "main" . }}
                                        {{ if .HasChildren }} <!-- top -->
                                        {{ range .Children }}
                                            {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                                {{if $currentNode.IsMenuCurrent "main" . }}
                                                    {{ if .HasChildren }} <!-- top -->
                                                        {{ partial "marginalnav.html" . }}
                                                    {{ end }} <!-- has children top -->
                                                {{ end }} <!-- IsMenuCurrent -->
                                            {{ end }}
                                            {{if $currentNode.HasMenuCurrent "main" . }}
                                                {{ if .HasChildren }} <!-- top -->
                                                {{ range .Children }}
                                                    {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                                                        {{if $currentNode.IsMenuCurrent "main" . }}
                                                            {{ if .HasChildren }} <!-- top -->
                                                                {{ partial "marginalnav.html" . }}
                                                            {{ end }} <!-- has children top -->
                                                        {{ end }} <!-- IsMenuCurrent -->
                                                    {{ end }}
                                                {{ end }}
                                                {{ end }}
                                            {{ end }}
                                        {{ end }} <!-- range children top -->
                                        {{ end }} <!-- has children top -->
                                    {{ end }} <!-- IsMenuCurrent -->
                                {{ end }} <!-- IsMenuCurrent or hasMenuCurrent -->
                            {{end}} <!-- range main -->
                        </div> <!-- card-action -->
                    </div> <!-- card -->
                </div> <!-- cols -->
            </div> <!-- row -->
        </article>
    </section>
</div> <!-- container -->
<aside id="meta" class="right">

        <ul id="tags">
          {{ range .Params.tags }}
            <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
</aside>

{{ partial "footer.html" . }}
