{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Mathias Conrad - Arts &amp; Publishing | Kontakt</title>
	<meta name="keywords" content="Conrad, Mathias, Arts, Publishing, Design, Kontakt" />
	<meta name="description" content="Mathias Conrad - arts & publishing. Kontakt" />
	<link rel="shortcut icon" href="{{$baseurl}}img/favicon.ico" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{$baseurl}}js/materialize.js"></script>
    <script type="text/javascript" src="{{$baseurl}}js/init.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{$baseurl}}css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{{$baseurl}}css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <a name="#top"></a>
    <div id="topimage" class="valign-wrapper truncate" style="height:200px; max-width:100%;
            {{ if isset .Params "image" }}background:url('{{$baseurl}}img/{{ printf "%s" $.Params.image }}') 50% 50%;{{else}}background:#EEEEEE;{{end}}">
    </div>

<!--------------- NAVIGATION ---------------------->
    {{ partial "navigation.html" . }}

<!-------------- Text-Container ------------------->
	<div class="container">
		<section id="main">
			<article id="content">
				<div class="col s12 m12 l9">
					{{ .Content }}
				</div>
			</article>
		</section>
	</div>

<!-------------- Form-Container ------------------->

    {{ partial "contact.html" . }}

<!--------------- SEITENFUSS ---------------------->
{{ partial "footer.html" . }}

