/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.slider {
  position: relative;
  height: 500px;
  width: 100%;
}

.slider .slides {
  background-color: #efefef;
  margin: 0;
  height: 500px;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  background-size: contain;   
  background-position: center;
  background-repeat: no-repeat;
}

.slider .slides li .caption {
  color: #fff;
  background-color: rgba(250, 250, 250, 0.5);
  position: absolute;
  top: 92%;                  
  left: 5%;
  width: 90%;
  opacity: 0;
}

.slider .slides li .caption p {
  color: #e0e0e0;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10;
  margin: 0;
}
