<!-- slide -->
        {{ if .Get "src"}}
        <li>
            {{ with .Get "link"}}<a href="{{.}}">{{ end }}
            <img {{ if isset .Params "title" }}data-caption="{{ .Get "title" }}"{{ end }} src="{{ $.Scratch.Get "ImgBaseUrl" }}Aquarell/dangast-jadebusen-bei-ebbe-2007-04_465487028_o.jpg" />
            {{ if .Get "link"}}</a>{{ end }}
            {{ if isset .Params "title" }}
            <div class="caption center-align">
                <h6 class="dark black-text text-lighten-3">{{ .Get "title" }}</h6>
            </div>
            {{ end }}
        </li>
    {{ end }}
<!-- slide -->
