{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Mathias Conrad - Arts &amp; Publishing | Seite nicht gefunden</title>
	<meta name="keywords" content="Conrad, Mathias, Arts, Publishing, Design, Kontakt" />
	<meta name="description" content="Mathias Conrad - arts & publishing. Kontakt" />
	<link rel="shortcut icon" href="img/favicon.ico" />
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
  
</head>

<body>
    <a name="#top"></a>
    <div id="topimage" class="valign-wrapper truncate" style="height:200px; max-width:100%;
          background:url('img/contact.png') 50% 50%; background:#EEEEEE;">
    </div>

<!--------------- NAVIGATION ---------------------->
    {{ partial "navigation.html" . }}

<!-------------- Info-Container ------------------>

	<div class="container">
		<div class="row">
		  <div class="col-md-6 col-md-offset-3" style="height:100px;">
				<h1>Uuups... SORRY! ... Seite nicht gefunden...</h1>
		  </div>
		</div>
	</div>

<!--------------- SEITENFUSS ---------------------->
{{ partial "footer.html" . }}
