{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Der kleine Bäcker | Mathias Conrad</title>
  <meta name="keywords" content="Conrad, Mathias, Backen, Rezepte, Torten, Kuchen, herzhaft" />
  <meta name="description" content="Der kleine Bäcker | Mathias Conrad | Backrezepte süß und herzhaft" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="{{$baseurl}}img/favicon.ico" />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
  <!-- link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/ -->
  <link href="css/style.css" type="text/css" rel="stylesheet" />

</head>
<body>
<!-------------- Hero-Container ------------------>
    <style>
        .parallax-container{ height: 600px; }
        #nav {
                width: 100%;
                z-index: 9998;
        }
    </style>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center black-text text-lighten-2"><br />Der kleine Bäcker</h1>
                <div class="row center">
                  <h5 class="header col s12 light">Mathias Conrad</h5>
                </div>
                <div class="row center">
                    <p class="light">{{ partial "index.about.html" . }}</p>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/apfelkuchen.jpg" alt="Apfelkuchen...."></div>
    </div>

<!--------------- NAVIGATION ---------------------->
    {{ partial "navigation.html" . }}

<!-------------- Info-Container ------------------>
    <div id="info" class="container">
        <div class="section"><!--  Card Section   -->
            <div class="row">
                <!--------------- Card1 of 4-------------------------------------------->
                <div class="col s12 m6 l3">
		    {{ partial "index.card1.html" . }}	
                </div> <!--card col--><!--End of Card 1-->
                <!--------------- Card2 of 4-------------------------------------------->
                <div class="col s12 m6 l3">
                    {{ partial "index.card2.html" . }}
                </div> <!--card col--><!--End of Card 2-->
                <!--------------- Card3 of 4-------------------------------------------->
                <div class="col s12 m6 l3">
                    {{ partial "index.card3.html" . }}
                </div> <!--card col--><!--End of Card 3-->
                <!--------------- Card4 of 4-------------------------------------------->
                <div class="col s12 m6 l3">
                    {{ partial "index.card4.html" . }}
                </div> <!--card col--><!--End of Card 4-->
            </div><!--card row-->
        </div><!--card section-->
    </div> <!-- container-->


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">- = -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/Caipi-Herzen.jpg" alt="Anis-Wölkchen"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Kontakt</h4>
		  <!--------------- Contact Form Partial ---------------------->
			{{ partial "contact.html" . }}
		  <!--------------- Contact Form Partial ---------------------->
          <p class="left-align light">Positive oder konstruktive Kommentare sind mir immer willkommen, nette Kontakte ebenso. 
		  Werbung oder anderer Spam wird gnadenlos ignoriert.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">- = -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/Conrads-Aniswölkchen.jpg" alt="Unsplashed background img 3"></div>
  </div>

<!--------------- SeitenFuß ---------------------->
    {{ partial "footer.html" . }}
